::-webkit-scrollbar {
	width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: mistyrose; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: lightsalmon; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: indianred; 
}
